.small-box {
  margin-bottom: 10px;
  height: 20vw;
  /* margin-top: 10px; */
  border-radius: 50%;
  border-style: solid;
  border-color: #eec302;
}

.small-box:active {
  background-color: #eec302;
}

.light-content-container {
  width: 100%;
  height: 100%;
}

.light-content {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  position: relative;
}

#light-status {
  color: #c5c5c5;
  left: 50%;
  top: 40%;
}

#light-brightness-chart {
  top: 10%;
}

#light-brightness-chart,
#light-status {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 80%;
  left: 0;
  text-align: center;
}
