.light-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 20px;
}

.light-grid:before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.light-grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

@media only screen and (min-width: 768px) {
  .light-grid {
    width: 50%;
    margin: 0 auto;
  }
}
