.channel-btn {
  text-align: center;
  width: 100%;
  height: 20vw;
  border-radius: 50%;
  border-style: solid;
  border-color: #eec302;
}

.channel-btn:active {
  background-color: #eec302;
}

.channel-btn i {
  font-size: 3.5rem;
  color: #eec302;
  line-height: 20vw;
}
