.tv-grid {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
}

.tv-grid:before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.tv-grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
