.category-section {
  height: 20vh;
  width: 90%;
  margin: 0 auto;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-column-gap: 20px; */
}

.content {
  width: 75%;
  padding-top: 15vh;
  margin: 0 auto;
}
