.App {
  text-align: center;
  color: #EEEEEE;
}

.small-box {
  width: 100%;
  padding-bottom: 60%;
  border-radius: 5px;
  margin: 10px;
  background-color: #333257;
}

.large-box {
  width: 100%;
  padding-bottom: 85%;
  border-radius: 5px;
  margin: 10px;
  background-color: #333257;
}
